.body{
    background-color: whitesmoke;
}
.navbar-custom, .nav-link{
   background-color: rgb(40, 40, 41);
   color: white;
}


col-md-6 {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.card-custom{
    background-color:     white;
}
.list{
    text-align: center;
}

.header-canals{
    background-image: url("../img/stream.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;

}

.header-videojuegos{
    background-image: url("../img/desarrollo-de-videojuegos.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;

}

.header-motivaciones{
    background-image: url("../img/nave.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;

}
.header-gustos{
    background-image: url("../img/Hunters\ Dream\ 1.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;

}
.border-info{
    border-color: black;
    background-color: black;
}
.portada{
    width: 300px;
    height: auto;
}
.col{
    border-color: black;
    border-radius: 10px;
    border-top: black;
}
.sobre{
    
text-align: center;
}
.fav{
    text-align: center;
}
.gate{
src: url(../pages/Programing_Developer.html);
}
.programador{
width: 300vh;

}
.footer{
    color: white;
}